# -*- mode: conf -*-

[Unit]
Description=Kafka adapter for Timescale/PostgreSQL
Documentation=https://github.com/arslanm/kafka-timescaledb-adapter
After=network.target

[Service]
EnvironmentFile=-/etc/prometheus/kafka-timescaledb-adapter.conf
User=prometheus
ExecStart=/usr/bin/kafka-timescaledb-adapter
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
